.form {
    margin: 0 auto;
}


form div:first-child {
    margin: 1rem auto 1rem auto;
    display: flex;
    position: relative;
    order: 1;
    padding: 0.25rem 0;
}

form div:nth-child(2) {
    margin: 1rem auto 1rem auto;
    display: flex;
    position: relative;
    order: 2;
    padding: 0.25rem 0;
}

.dropdown1 {
    display: flex;
    justify-content: center;
    margin: 2rem;
    order: 3;
}

.dropdown2 {
    display: flex;
    justify-content: center;
    margin: 2rem;
    order: 4;
}

#home-submit {
    display: flex;
    order: 5;
    justify-content: center;
}