body{
  background-color: #F2F0F9;
}

.navbar {
  background-color: #EC800D;
}

.navbar img {
  position: absolute;
  right: 5%;
  height: 3em;
  width: 3em;
  top: 0%;
}

.btnclass{
  display: flex;
  width:100%;
  justify-content: center;
  align-items: center;
}

.btn {
  display: flex;
}

.navbar a {
  color: #631E57;
  font-weight: bold;
}

h4 {
  text-align: center;
  padding: 1em;
}

.navbar-brand:hover {
  color:#54DEC0;
}


.footer {
  position: fixed;
  height: 50px;
  background-color: #EC800D;
  bottom: 0px;
  left: 0px;
  right: 0px;
  margin-bottom: 0px;
  display: grid;
  grid-template-columns: repeat(5, 1fr);

}

.home-icon {
  margin: auto;
  cursor: pointer;
  color: #631E57;
}

.search-icon {
  margin: auto;
  cursor: pointer;
  color: #631E57;;
}

.heart-icon {
  margin: auto;
  cursor: pointer;
  color: #631E57;;
}

.history-icon {
  margin: auto;
  cursor: pointer;
  color: #631E57;;
}

.hamburger-icon {
  margin: auto;
  width: 2.5rem;
  height: 3rem;
  z-index: 200;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  cursor: pointer;
}

.line {
  width: 100%;
  height: 0.2rem;
  background-color: #631E57;;
  box-shadow: 0.1rem 0.2rem rgba(0, 0, 0, 0.2);
}

.centering {
  display: flex;
  align-items: center;
  justify-content: center;
}

.searchbar {
  width: 80%;
  height: 3rem;
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr;
  margin: auto;
}

#myInput {
  width: 100%;
}

a {
  color: #631E57;
}

.container{
  width:100%;
  height:80%;
  display:flex;
  justify-content: center;
}
.cards {

  position: absolute;
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 2rem;
  top: 25%;
  height: 69%;
  width: 90%;
  z-index: 0;
  overflow: scroll;
}

.card {
  width: 100%;
  background-color:lightgrey;
  border-radius: 1rem;
  padding: 10px;
  font-size: 1.4rem;
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-template-rows: 1fr 3fr 1fr;
  max-height: 200px;

}

.name h1 {
  font-size: 2rem;
  padding-bottom: 0;
  margin-bottom: 0;
}

.info{
  grid-column-start: 2;
}

.ratings {
  grid-column-start: 2;
}

.centermap{
  width: 100%;
  display:flex;
  justify-content: center;
}
.map {
  height: 250px;
  width: 300px;
  background-color:black;
  padding: 0 0 0.5rem 0;
}


/* larger screens-------------------------------------------------------*/
@media screen and (min-width: 850px) {


  .cards {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    height: 69%;
    top: 25%;
  }
}


  /*largest screens------------------------------------------------------*/
  @media screen and (min-width: 1280px) {
    .cards {
      width: 71%;
      height: 72%;
      top: 25%;
    }
  }