.navbar {
  background-color: teal;
}

.navbar img {
  position: absolute;
  right: 5%;
  height: 3em;
  width: 3em;
  top: 0%;
}

.navbar a {
  color: black;
}

h4{
  text-align: center;
  padding:1em 
}
.navbar-brand:hover {
  color: blue;
}

.footer {
  position: fixed;
  height: 50px;
  background-color: teal;
  bottom: 0px;
  left: 0px;
  right: 0px;
  margin-bottom: 0px;
  display: grid;
  grid-template-columns: repeat(5, 1fr);

}

.home-icon {
  margin: auto;
  cursor: pointer;
}

.search-icon {
  margin: auto;
  cursor: pointer;
}

.heart-icon {
  margin: auto;
  cursor: pointer;
}

.history-icon {
  margin: auto;
  cursor: pointer;
}

.hamburger-icon {
  margin: auto;
  width: 2.5rem;
  height: 3rem;
  z-index: 200;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  cursor: pointer;
}

.line {
  width: 100%;
  height: 0.2rem;
  background-color: black;
  box-shadow: 0.1rem 0.2rem rgba(0, 0, 0, 0.2);
}

.centering {
  display: flex;
  align-items: center;
  justify-content: center;
}

.searchbar {
  width:80%;
  height: 3rem;
  display:grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr;
  margin: auto;
}

#myInput{
  width:100%;
}

a{
  color:black;
}