.content {
    display: grid;
    place-items: center;
    text-align: center;
}

.rating-widget {
    width: 500px;
    background-color: rgb(49, 49, 49);
    padding: 20px 30px;
    border: 1px solid rgb(175, 166, 166);
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.rating-widget .post {
    display: none;
}

.rating-widget .star-rating input {
    display: none;
}

.rating-widget form {
    display: none;
}

.rating-widget .text {
    font-size: 25px;
    color: #666;
    font-weight: 500;
}

.rating-widget .edit {
    position: absolute;
    right: 10 px;
    top: 5px;
    font-size: 25px;
    color: #666;
    font-weight: 500;
}

.star-rating label {
    font-size: 40px;
    color: white;
    padding: 10px;
    float: right;
    transition: all 0.2s ease;
}


input:not(:checked)~label:hover,
input:not(:checked)~label:hover~label {
    color: yellow
}

input:checked~label {
    color: yellow
}

input:checked~form {
    display: block;
}

input#rate-5:checked~label {
    color: yellow;
    text-shadow: 0 0 20px #952;
}

form .textarea {
    height: 100px;
    width: 100%;
    overflow: hidden;
}

form .textarea textarea {
    height: 100%;
    width: 100%;
    outline: none;
    border: 1px solid #333;
    background: #222;
    padding: 10px;
    font-size: 17px;
    resize: none;
    color: white;
}

.btn {
    outline: none;
    border: 1px solid black;
    background: #222;
    color: #999;
    font-size: 17px;
    font-weight: bold;
    text-transform: uppercase;
    justify-content: center;
}