* {
    font-family: 'Open Sans', sans-serif;
}

.modal-content {
    background-color: orange;
    color: white;
}

.rating-widget {
    display: flex;
    align-items: center;
    justify-content: center;
}

.rating-widget .post {
    display: none;
}

.rating-widget .star-rating input {
    display: none;
}

form .textarea {
    height: 100px;
    width: 100%;
    overflow: hidden;
}

form .textarea textarea {
    height: 100%;
    width: 100%;
    outline: none;
    border: 1px solid rgb(255, 189, 114);
    background: rgb(255, 255, 255);
    padding: 10px;
    font-size: 1.2em;
    resize: none;
}

#button {
    outline: none;
    border: 1px solid rgb(255, 162, 99);
    background: rgb(255, 255, 255);
    color: #999;
    font-size: 1em;
    font-weight: bold;
    text-transform: uppercase;
    justify-content: center;
}

.reviewBtn {
    display: flex;
    justify-content: center;
}

.rating {
    display: flex;
    padding: 0;
    margin: 0;
}

.rating li {
    list-style-type: none;
}

.rating-item {
    cursor: pointer;
    font-size: 2em;
    color: yellow;
    transition: all 0.2 ease;
}

.rating-item::before {
    content: "\f005";
    font-family: 'Font Awesome 5 Free';
    font-weight: 900;
}

.rating-item.active~.rating-item::before {
    content: "\f005";
    font-family: 'Font Awesome 5 Free';
    font-weight: 100;
}

.rating:hover .rating-item::before {
    content: "\f005";
    font-family: 'Font Awesome 5 Free';
    font-weight: 900;
}

.rating-item:hover~.rating-item::before {
    content: "\f005";
    font-family: 'Font Awesome 5 Free';
    font-weight: 100;
}