.modal-content {
    background-color: orange;
    color: white;
}

.rating-widget {
    display: flex;
    align-items: center;
    justify-content: center;
}

.rating-widget .post {
    display: none;
}

.rating-widget .star-rating input {
    display: none;
}

/* 
.star-rating label {
    font-size: 4em;
    color: white;
    padding: 10px;
    float: right;
    transition: all 0.2s ease;
}

input:not(:checked)~label:hover,
input:not(:checked)~label:hover~label {
    color: yellow
}

input:checked~label {
    color: yellow
}

input:checked~form {
    display: block;
}

input#rate-5:checked~label {
    color: yellow;
    text-shadow: 0 0 20px #952;
} */

form .textarea {
    height: 100px;
    width: 100%;
    overflow: hidden;
}

form .textarea textarea {
    height: 100%;
    width: 100%;
    outline: none;
    border: 1px solid rgb(255, 189, 114);
    background: rgb(255, 255, 255);
    padding: 10px;
    font-size: 1.2em;
    resize: none;
}

#button {
    outline: none;
    border: 1px solid rgb(255, 162, 99);
    background: rgb(255, 255, 255);
    color: #999;
    font-size: 1em;
    font-weight: bold;
    text-transform: uppercase;
    justify-content: center;
}

.reviewBtn {
    display: flex;
    justify-content: center;
}

/* 
.stars-outer {
    position: relative;
    display: inline-block;
}

.stars-inner {
    position: absolute;
    top: 0;
    left: 0;
    white-space: nowrap;
    overflow: hidden;
    width: 0;
}

.stars-outer::before {
    content: "\f005 \f005 \f005 \f005 \f005";
    font-family: 'Font Awesome 5 Free';
    font-weight: 900;
    color: #ccc;
}

.stars-inner::before {
    content: "\f005 \f005 \f005 \f005 \f005";
    font-family: 'Font Awesome 5 Free';
    font-weight: 900;
    color: #ffe25f;
} */

.rating {
    display: flex;
    padding: 0;
    margin: 0;
}

.rating li {
    list-style-type: none;
}

.rating-item {
    cursor: pointer;
    font-size: 2em;
    color: yellow;
    transition: all 0.2 ease;
}

.rating-item::before {
    content: "\f005";
    font-family: 'Font Awesome 5 Free';
    font-weight: 900;
}

.rating-item.active~.rating-item::before {
    content: "\f005";
    font-family: 'Font Awesome 5 Free';
    font-weight: 100;
}

.rating:hover .rating-item::before {
    content: "\f005";
    font-family: 'Font Awesome 5 Free';
    font-weight: 900;
}

.rating-item:hover~.rating-item::before {
    content: "\f005";
    font-family: 'Font Awesome 5 Free';
    font-weight: 100;
}