.rest-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    text-align: center;
}
#info {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
#pic img {
    border-radius: 50%;
    object-fit: contain;
    justify-self: center;
    align-self: center;
}