.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.card-title {
    font-size: 5rem;
    padding: 0;
    margin: 0 auto;
}

.main-container {
    padding: 1rem;
}

#card-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 3rem 0 6rem 0;
}

#img-container {
    margin: 0 auto;
}

.heart {
    font-size: 4rem;
    color: rgb(240, 9, 9);
}