.modal-content {
    background-color: orange;
    color: white;
}

.rating-widget {
    display: flex;
    align-items: center;
    justify-content: center;
}

.rating-widget .post {
    display: none;
}

.rating-widget .star-rating input {
    display: none;
}

.star-rating label {
    font-size: 4em;
    color: white;
    padding: 10px;
    float: right;
    transition: all 0.2s ease;
}

input:not(:checked)~label:hover,
input:not(:checked)~label:hover~label {
    color: yellow
}

input:checked~label {
    color: yellow
}

input:checked~form {
    display: block;
}

input#rate-5:checked~label {
    color: yellow;
    text-shadow: 0 0 20px #952;
}

form .textarea {
    height: 100px;
    width: 100%;
    overflow: hidden;
}

form .textarea textarea {
    height: 100%;
    width: 100%;
    outline: none;
    border: 1px solid rgb(255, 189, 114);
    background: rgb(255, 255, 255);
    padding: 10px;
    font-size: 1.2em;
    resize: none;
}

#button {
    outline: none;
    border: 1px solid rgb(255, 162, 99);
    background: rgb(255, 255, 255);
    color: #999;
    font-size: 1em;
    font-weight: bold;
    text-transform: uppercase;
    justify-content: center;
}

.reviewBtn {
    display: flex;
    justify-content: center;
}