* {
    font-family: 'Open Sans', sans-serif;
}

content {
    display: flex;
}

.rev-section {
    margin: auto;
    padding: 0 1rem;
    max-width: 1100px;
    text-align: center;
}

.title {
    font-size: 2.5rem;
    text-transform: uppercase;
    color: darkslategray;
    margin-bottom: .5rem;
}

.subtitle {
    font-size: 1.1rem;
    color: gray;
    font-style: italic;
}

.reviews {
    margin: 2rem auto;
    display: flex;
    flex-wrap: wrap;
}

.review {
    margin: 0 1rem;
    flex: 1;
    min-width: 300px;
}

.head-review {
    margin: 1.75rem auto;

}

img {
    object-fit: cover;
    border-radius: 50%;
}

.body-review {
    background-color: rgb(238, 238, 238);
    padding: 2.5rem;
    box-shadow: 2px 2px 10px 3px rgb(225, 225, 225);
}

.name-review {
    font-size: 1.5rem;
    color: rgb(50, 50, 50);
    margin-bottom: .25rem;
}

.place-review {
    font-style: italic;
}

.rating {
    color: yellow;
    margin: 1rem 0;
}

.desc-rivew {
    line-height: 1.5rem;
    letter-spacing: 1px;
    color: rgb(150, 150, 150);
}